html,
body {
  background-color: cornsilk;
  color: rgb(0,20,120);
}

nav,
.navbar {
  background-color: rgb(0,20,120);
  color: cornsilk;
}

.cardPane {
  background-color: #ddd;
  color: black;
}

.cardPaneLeft{
  border-right: 1px solid black;
}

.cardPaneRight{
  border-left: 1px solid black;
}
